@page "/"

<PageTitle>Game Catalog</PageTitle>

<h1>Game Catalog</h1>

Welcome to your new app.

<table>
    <thead>
        <td>Id</td>
        <td>Name</td>
        <td>Genre</td>
        <td>Price</td>
        <td>Release Date</td>
        <td></td>
    </thead>
    <tbody>

    </tbody>
</table>